<h1>Control Dashboard</h1>

<%= shout_form_for(TextShout) do |content_form| %>
  <%= content_form.text_field :body, placeholder: "Tweet it here", required: true %>
<% end %>

<%= shout_form_for(PhotoShout) do |content_form| %>
  <%= content_form.file_field :image, required: true %>
<% end %>

<%= render @shouts %>